/* ====================================================================
                                RESET
=====================================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}


body {
    background-color: rgb(32, 32, 32);
    border: 5px double #FFC300;
    height: 98vh;
    color: #d8a600;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10vh;
    section {
        text-align: center;
        h1 {
            margin-bottom: 2rem;
        }
        ul {
            width: 10%;
            margin: 0 auto;
            font-size: 2rem;
            text-align: left;
        }
        form {
            margin: 10%;
            select {
                width: 20%;
                font-size: 1rem;
                padding: 0.5rem;
                margin-inline: 0.5rem;

            }
            button {
                width: 25%;
                font-size: 1rem;
                padding: 0.5rem;
                margin-inline: 0.5rem;
            }
        }

    }




}

